<body class="hold-transition login-page" style="background-image: url(../../../../assets/images/Theme1/back.jpg);">
  <!-- Automatic element centering -->
  <div class="lockscreen-logo">
    <div class="error-content">
      <h1 class="text-white"><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Something went wrong.</h1>
      <h3 class="text-white">An error has occurred at the database service.</h3>
      <button class="btn btn-lg  btn-transparent txt-white mx-auto" routerLinkActive='active'
        routerLink="../login">Retry</button>
    </div>
  </div>


</body>