<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <form class="form-horizontal text-center">

          </form>
        </div>
      </div>
      <!-- /.col -->
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <form class="form-horizontal text-center">
            <div class="card back-transparent-help txt-white text-center">
              <div class="card-header">

                <h3 class="card-title"><i class="fas fa-info-circle"></i> About us</h3>
              </div>
              <!-- /.card-header -->
              <div
                class="row card-body d-flex flex-row justify-content-center  align-items-center text-center table-responsive p-3"
                style="border-top: 1px, solid, white;">
                <a href="index3.html" class="brand-link jleftustify-content-center mt-3">
                  <img src="assets/images/logo.png" alt="MystroHome" style="opacity: .8; height: 63px;">
                </a> <br>
                <p class="text-justify">
                  Welcome to <b>MystroHome</b>, your number one source for smart home control. We're dedicated to giving
                  you the very best app to orchestrate all your connected devices at home, with a focus on confort,
                  time-saving and uniqueness.<br><br>
                  Developped in 2020 by <b>ABBACI Khaled</b> and <b>BENSALAH Kawthar</b>, students of <b>The University
                    of Science and Technology HOUARI BOUMEDIENE (USTHB)</b>, under the supervision of Mrs
                  <b>BOUYAKOUB</b> and Mrs <b>MEZENNER</b>, in the context of their graduation project,
                  <b>MystroHome</b> allows you to control all your home appliances including refrigerator, washer, air
                  conditioner, alarm, bulbs and more through your smartphone or computer.<br><br>
                  You will be able to create many domotic scenarios that start at the time of your choice.<br><br>
                  We hope you enjoy our app as much as we enjoy offering them to you. If you have any questions or
                  comments, please don't hesitate to contact us.<br><br>
                  Sincerely,<br>
                  ABBACI Khaled and BENSALAH Kawthar, <b>MystroHome</b> developpers.


                </p>

                <a href="https://www.usthb.dz/fr" class="brand-link justify-content-center mt-0">
                  <img src="../../../assets/images/usthb.png" alt="USTHB" height="150px">
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>