<!-- Horizontal Form -->
<div class="card card-info back-transparent txt-white">
  <!-- /.card-header -->
  <!-- form start -->
  <form class="form-horizontal" #formAct="ngForm" (ngSubmit)="addNewActivity(formAct)">

    <div class="card-body">
      <div class="form-group row">
        <label for="activityName" class="col-sm-4 col-form-label">Name</label>
        <div class="col-sm-8">
          <input type="text" autocomplete="off" placeholder="Name" class="inupt-transparent form-control" id="activityName" name="name"
            [(ngModel)]="act.name" [ngClass]="{'is-invalid' : activityNameExist(act.name)}">
        </div>
      </div>
      <div class="form-group row" *ngIf="act.type=='Activity'">
        <label for="objectOperation" class="col-sm-4 col-form-label">Object</label>
        <div class="col-sm-8 float-right">
          <select class="form-control inupt-transparent" id="objectName" name="objectName"
            [(ngModel)]="act.objectName">
            <option value="" selected></option>
            <option *ngFor="let o of obj.tabObjects">{{o.name}}</option>
          </select>
        </div>      
      </div>
      <div class="form-group row" *ngIf="act.type=='Activity'">
        <label for="objectOperation" class="col-sm-4 col-form-label">Operation</label>
        <div class="col-sm-8 float-right">
          <select class="form-control inupt-transparent" id="objectOperation" name="operationName"
            [(ngModel)]="act.operationName">
            <option value="" selected></option>
            <ng-container *ngFor="let o of obj.tabObjects">
              <ng-container *ngIf="o.name==act.objectName">
                <option *ngFor="let op of o.operations">{{op.name}}</option>
              </ng-container>
            </ng-container>
          </select>
        </div>    
      </div>
      
      <div class="form-group row" *ngIf="obj.getBodyAttributeName(act.objectName, act.operationName)!=null">
        <label for="bodyValue" class="col-form-label col-sm-4">{{obj.getBodyAttributeName(act.objectName, act.operationName)}}</label>
        <div class="col-sm-8">
          <input *ngIf="obj.getAttributeType(act.objectName, obj.getBodyAttributeName(act.objectName, act.operationName))=='String'"
            type="text" placeholder="Value" class="form-control  inupt-transparent" id="bodyValue" name="bodyValue"
            [(ngModel)]="act.bodyValue">
          <input *ngIf="obj.getAttributeType(act.objectName, obj.getBodyAttributeName(act.objectName, act.operationName))=='int'" 
            type="range" class="custom-range custom-range-fuchsia col-sm-11 mt-3 inupt-transparent" id="customRange1" min='0' max="15" value="0" step="1"
            name="bodyValue" [(ngModel)]="act.bodyValue"><ng-container *ngIf="obj.getAttributeType(act.objectName, obj.getBodyAttributeName(act.objectName, act.operationName))=='int'">&nbsp;&nbsp;{{act.bodyValue}}</ng-container>
          <select class="form-control inupt-transparent" *ngIf="obj.getAttributeType(act.objectName, obj.getBodyAttributeName(act.objectName, act.operationName)).includes('Enumeration')"
            placeholder="Value" id="bodyValue" name="bodyValue" [(ngModel)]="act.bodyValue">
            <option value="" selected></option>
            <option value="{{pv}}" *ngFor="let pv of obj.getAttributePossibleValues(act.objectName, obj.getBodyAttributeName(act.objectName, act.operationName))">{{pv}}
            </option>
          </select>
        </div>
      </div>

      <fieldset class="form-group text-center fieldset">
        <legend class="col-form-label">
          <label for="inputEmail3">
            
            <div class="btn-group mx-auto" data-toggle="buttons">
              <label *ngIf="bpelProcess.processType=='On demande'" class="btn btn-light form-check-label" (click)="afterClick()">      
                <input class="custom-control-input inupt-transparent" type="radio" id="After" name="triggerRadio"
                  value="After"> After
              </label>
              <label *ngIf="bpelProcess.processType!='On demande'" class="btn btn-light form-check-label"  (click)="act.triggerEvent='After'">      
                <input class="custom-control-input inupt-transparent" type="radio" id="After" name="triggerRadio"
                      [(ngModel)]="act.triggerEvent"value="After"> After
              </label>
              <label *ngIf="bpelProcess.processType!='On demande'" class="btn btn-light form-check-label active" (click)="act.triggerEvent='At'">
                <input class="custom-control-input inupt-transparent" type="radio" checked id="At" name="triggerRadio"
                      [(ngModel)]="act.triggerEvent" value="At"> At
              </label>
            </div>  
          </label>
        </legend>
        <div class="form-group row mx-auto">
            <!------------- AFTER -------------->
            <div class="col-sm-5" *ngIf="act.triggerEvent=='After'">
              <select class="form-control inupt-transparent" name="activityAfter" [(ngModel)]="act.dependsActivityName">
                <option value="" selected></option>
                <option *ngFor="let a of acts.getAfterActivities(); let i = index;">{{a}}</option>
              </select>
            </div>
            <label for="timeout" class="col-sm-3 col-form-label" *ngIf="act.triggerEvent=='After'">Timeout</label>
            <div class="col-sm-2" *ngIf="act.triggerEvent=='After'">
              <input type="number" min="0" placeholder="Min" class="form-control inupt-transparent" id="timeout" name="timeout"
                [(ngModel)]="act.timeout">
            </div>
            <label class="col-sm-2 col-form-label" *ngIf="act.triggerEvent=='After'">min</label>
            <!------------- AT -------------->
            <div class="col-sm-12" *ngIf="act.triggerEvent=='At'">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="far fa-clock"></i></span>
                </div>
                <input *ngIf="bpelProcess.processType!='Programmable'" type="datetime-local" class="form-control inupt-transparent" id="date" name="date"
                  [(ngModel)]="act.date">
                  <input *ngIf="bpelProcess.processType=='Programmable'" type="time" class="form-control inupt-transparent" id="time" name="time"
                  [(ngModel)]="act.date">
              </div>
              <!-- /.input group -->
            </div>
        </div>
      </fieldset>


      <div class="form-group row">
        <button type="reset" class="btn btn-lg btn-transparent txt-white mx-auto">Reset</button>
        <button *ngIf="AllFieldsAreWellFilled()" type="submit" class="btn btn-lg  btn-transparent txt-white mx-auto">Add</button>
        <button *ngIf="!AllFieldsAreWellFilled()" type="submit" class="btn btn-lg  btn-transparent txt-white mx-auto" disabled>Add</button>
      </div>


    </div>

    <!-- /.card-footer -->
  </form>
</div>
<!-- /.card -->
<!--   CONDITION EDITOR -->
