<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->



<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <form class="form-horizontal text-center">

          </form>
        </div>
      </div>
      <!-- /.col -->
    </div>







    <div class="row align-self-center justify-content-center mt-5">
      <div class="col-8">
        <div class="form-group">
          <form class="form-horizontal text-center">
            <div class="card back-transparent txt-white text-center">
              <div class="card-header">
                <h3 class="card-title">Settings</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="border-top: 1px, solid, white;">

                <table class="table text-nowrap">

                  <tr class="">
                    <td>
                      <div class="custom-control pb-4 mb-4">

                        <label class="pb-4 mt-2 float-left">Theme</label>



                      </div>
                      <ul class="ml-0 mr-1 pr-4 justify-content-center">
                        <li class="list-inline-item">
                          <div class="container" (click)="changeTheme('Theme1')">
                            <img alt="Avatar" class="boxTheme p-0 attachment-img"
                              src="../../../assets/images/Theme1/formBack.jpg">
                            <div class="middle">
                              <div class="text">Default</div>
                            </div>
                          </div>
                        </li>
                        <li class="list-inline-item">
                          <div class="container" (click)="changeTheme('Theme2')">
                            <img alt="Avatar" class="boxTheme  p-0 attachment-img"
                              src="../../../assets/images/Theme2/formBack.jpg">
                            <div class="middle">
                              <div class="text">Green</div>
                            </div>
                          </div>
                        </li>
                        <li class="list-inline-item" (click)="changeTheme('Theme3')">
                          <div class="container">
                            <img alt="Avatar" class="boxTheme  p-0 attachment-img"
                              src="../../../assets/images/Theme3/formBack.jpg">
                            <div class="middle">
                              <div class="text">Classic</div>
                            </div>
                          </div>
                        </li>


                      </ul>
                    </td>
                  </tr>


                </table>



              </div>
              <!-- /.card-body -->
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
    </div>

    <!-- /.row -->

  </div><!-- /.container-fluid -->

</section>
<!-- /.content -->