
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-5">  
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->



  <!-- Main content -->
<section class="content">

  <div class="container-fluid text-center">
    <!-- row -->
    <div class="row">
      <div class="card col-sm-4 back-transparent txt-white text-center divInactif" style="border-radius: 0;" (click)="action('Save')">
        <h3 class="mt-3 mb-1">Save</h3>
        <i class="fas fa-database fa-10x mt-3 mb-2 mx-auto"></i>
        <!-- /.card-body-->
      </div>
        
      <div class="card col-sm-4 back-transparent txt-white text-center divInactif" style="border-radius: 0;" (click)="action('Export')">
        <h3 class="mt-3 mb-1">Export</h3>
        <i class="fas fa-download fa-10x mt-3 mb-2 mx-auto"></i>
        <!-- /.card-body-->
      </div>
   
      <div class="card col-sm-4 back-transparent txt-white text-center divInactif" style="border-radius: 0;" (click)="action('Execute')">
        <h3 class="mt-3 mb-1">Execute</h3>
        <i class="fas fa-play-circle fa-10x mt-3 mb-2 mx-auto"></i>
        <!-- /.card-body-->
      </div>


      <!-- /.col -->
    </div>
    

  </div><!-- /.container-fluid -->

</section>
<!-- /.content -->